/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Permanent+Marker&family=Roboto&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Navigation Styles */
.header-container {
    background-color: #e7272d;
}

.nav-icon img {
    width: 60px;
    margin-right: 15px;
}

.nav-icon {
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    font-weight: 900;
    color: white;
    width: fit-content;
}

.nav-icon span:hover {
    color: white;
    text-decoration: underline;
}

.nav-button {
    width: fit-content;
}

.nav-button:focus {
    outline: none;
    box-shadow: none;
}

.nav-button-icon i {
    color: white;
    width: fit-content;
}

.nav-menu-items {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 28px;
    margin-right: 30px;
}

.nav-menu-items:hover {
    color: #fbbe36;
    text-decoration: underline;
}

.buy-now-btn {
    text-decoration: none;
    color: #e7272d;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
}

.buy-now-btn:hover span {
    color: #fbbe36;
    text-decoration: underline;
    transition: color 1s ease 0s;
}





/* Hero Styles */
.hero {
    display: flex;
    margin-top: 200px;
    padding-bottom: 100px;
}

.hero-description h3 {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    color: #fbbe36;
}

.hero-description h3:hover {
    text-decoration: underline;
}

.hero-description h1 {
    font-size: 96px;
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    color: white;
    width: fit-content;
}

.hero-description h1:hover {
    text-decoration: underline;
}

.hero-description p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.hero-description p:hover {
    text-decoration: underline;
}

.hero-image {
    position: relative;
    margin-left: 100px;
    width: 100%;
}

.offer {
    width: 200px;
    position: absolute;
    left: 0;
    top: -135px;
}

.pizza {
    width: 500px;
    position: relative;
}

.order-btn {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border-radius: 50px;
    background-color: #fbbe36;
    padding: 20px 30px;
}

.order-btn i {
    color: black;
    margin-right: 15px;
}

.order-btn:hover span {
    color: black;
    text-decoration: underline;
}

.order-btn:hover {
    color: black;
    border-bottom: 1px solid black;
    background-color: #f1a90c;
    transition: background-color 1s ease 0s;
}






/* Best Seller Styles */
.seller-title {
    text-align: center;
}

.seller-title h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    font-weight: 700;
    color: #e7272d;
}

.seller-title h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #232323;
}


.sell-card {
    text-align: center;
    border-radius: 20px;
}

.sell-card:hover {
    background-color: #e7272d;
    color: white;
    transform: translate(0px, -50px);
    transition: transform .65s ease 0s;
}

.sell-card:hover p {
    color: white;
}

.sell-card:hover .sell-cart:hover {
    transform: scale(1.25);
    transition: transform 1s ease 0s;
    color: #e7272d;
}

.sell-card h4 {
    text-align: center;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
}

.sell-card p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #808080;
}

.sell-cart {
    font-size: 20px;
    background-color: #fbbe36;
    width: fit-content;
    padding: 25px;
    border: 1px solid #89b758;
    border-radius: 50%;
}





/* Parallax Styles  */
.parallax {
    background-image: url('/images/parallax.jpg');
    background-repeat: no-repeat;
    opacity: .90;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

.offer-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.offers h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: white;
    opacity: 1;
}

.offers h2 span {
    font-size: 75px;
}

.offers h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 96px;
    font-weight: 900;
    color: #52831e;
    letter-spacing: 0;
    opacity: 1;
}

.order-online-btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #52831e;
    padding: 15px 30px;
    border-radius: 50px;
}

.order-online-btn i {
    margin-right: 15px;
}

.order-online-btn:hover {
    color: white;
    background-color: #2c5500;
    transition: background-color 1s ease 0s;
}




/* Welcome Styles */
.welcome {
    margin-top: 100px;
}

.welcome-title h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    font-weight: 900;
    color: #e7272d;
}

.welcome-title h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #232323;
    letter-spacing: 0;
}

.welcome-title p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #232323;
    letter-spacing: 0;
    margin-top: 30px;
}

.welcome-title span p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #808080;
    letter-spacing: 0;
    margin-bottom: 50px;
}

.get-direction {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    background-color: #e7272d;
    padding: 15px;
    border-radius: 50px;
}

.get-direction i {
    margin-right: 10px;
}

.get-direction:hover {
    color: white;
    background-color: #fbbe36;
    transition: background-color 1s ease 0s;
}

.welcome-image img {
    width: 450px;
}

.welcome-icon-container {
    text-align: center;
}

.welcome-icon i {
    font-size: 70px;
    color: #e7272d;
}

.welcome-icon p {
    font-size: 16px;
    color: #232323;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}


/* Ingredient Styles */
.ingredient {
    background-color: #0e0e0e;
    padding: 100px;
}

.ingredient-container h3 {
    text-align: center;
    color: #e7272d;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    padding-top: 30px;

}

.ingredient-container h1 {
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
}

.ingredient-title h2 {
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.ingredient-title h2 span {
    color: #e7272d;
    font-size: 25px;
    font-weight: 900;
}

.ingredient-title p {
    color: white;
}

.ingredient-image {
    width: 360px;
}

.ingredient-right-title {
    text-align: right;
}


/* Menu Styles */
.menu-container h3 {
    text-align: center;
    color: #e7272d;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    padding-top: 30px;
}

.choose {
    text-align: center;
    color: black;
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
}

.menu-title h2 {
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #e7272d;
    padding: 6px 20px;
}

.menu-title h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
}

.menu-title h1 span {
    color: #e7272d;
}

.menu-title p {
    color: #808080;
}


/* Deals Styles */
.deals-title h3 {
    text-align: center;
    color: #e7272d;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    padding-top: 30px;
}

.deals-title h1 {
    text-align: center;
    color: black;
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
}

.deals-one h4 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;

}

.deals-one h5 {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.deals-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.deals-link:hover {
    color: white;
    text-decoration: underline;
}

/* Rectangle Out */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e7272d;
    border-radius: 10px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
    color: white;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Parallax-Two Styles */
.parallax-two {
    background-image: url('/images/parallax.jpg');
    background-repeat: no-repeat;
    opacity: .90;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon {
    text-decoration: none;
}

.play-icon i {
    color: #ff0008;
    font-size: 100px;
}

/* Review Styles */
.review-title h3 {
    text-align: center;
    color: #89b758;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    padding-top: 30px;
}

.review-title h1 {
    text-align: center;
    color: black;
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
}

.review p {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #232323;
    margin-left: 20px;
    padding-right: 100px;
    padding-top: 80px;
}

.review p small {
    color: #808080;
}


/* Team Styles */
.team {
    background-color: #e7272d;
}

.team-title h3 {
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    padding-top: 30px;
}

.team-title h1 {
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
}

.team-card {
    background-color: #fff4e2;
    border-radius: 30px;
}

.social i {
    font-size: 30px;
    color: #fe7a15;
}





















/* Media Query */
@media only screen and (max-width:575px) {
    * {
        width: 100%;
    }

    .buy-now-btn {
        position: relative;
        top: 10px;
    }

    .hero {
        flex-wrap: wrap;
        margin: auto;
        margin-top: 80px;
    }

    .hero-description h3 {
        text-align: center;
        margin: auto;
    }

    .hero-description h1 {
        font-size: 50px;
        font-weight: 900;
        font-family: 'Barlow', sans-serif;
        color: white;
        text-align: center;
        margin: auto;
    }

    .hero-description p {
        text-align: center;
    }

    .order-btn {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding: auto;
        width: fit-content;

    }

    .order-btn span {
        width: fit-content;
        margin-left: 10px;
    }

    .order-btn i {
        margin: 0;
        width: fit-content;
        text-align: center;
        margin: auto;
    }

    .hero-image {
        width: 100%;
        margin-left: 0;
        margin-top: 150px;
    }

    .pizza {
        width: 97%;
    }

    .order-online-btn i {
        width: fit-content;
        text-align: center;
    }


    .welcome-container {
        flex-direction: column;
        align-items: center;
    }

    .welcome-image img {
        width: 100%;
    }

    .welcome-title h3 {
        text-align: center;
    }

    .welcome-title h1 {
        text-align: center;
        font-size: 40px;
    }

    .welcome-title p {
        text-align: center;
    }

    .welcome-title span p {
        text-align: center;
    }

    .speical-icon {
        flex-direction: column;
    }

    .get-direction {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .get-direction i {
        width: fit-content;
        text-align: center;
    }

    .ingredient {
        padding: 0;
        margin-top: 70px;

    }

    .ingredient-container {
        padding-top: 0;
        margin: 0;
    }

    .ingredient-title h2 {
        text-align: center;
        padding-top: 50px;
    }

    .ingredient-title p {
        text-align: center;
    }

    .menu-title h2 {
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
    }

    .menu-title {
        text-align: center;
    }

    .deals-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .deals-one {
        margin-bottom: 10px;
    }

    .play-icon i {
        display: flex;
        justify-content: center;
    }

    .review-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

    }

    .review {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

    }

    .review img {
        margin: 0;
        padding: 0;

    }

    .review p {
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width:576px) and (max-width:992px) {
    * {
        width: 100%;
    }

    .buy-now-btn {
        position: relative;
        top: 10px;
    }

    .hero {
        flex-wrap: wrap;
        margin-top: 150px;
    }

    .hero-image {
        width: 100%;
        margin-top: 150px;
        text-align: center;
    }

    .pizza {
        width: 80%;
    }

    .order-btn i {
        margin: 0;
        width: fit-content;
        text-align: center;
        margin: auto;
    }

    .order-online-btn i {
        width: fit-content;
        text-align: center;
    }


    .welcome-container {
        flex-direction: column;
        align-items: center;
    }

    .welcome-image img {
        width: 100%;
    }

    .welcome-title h1 {
        font-size: 65px;
    }

    .speical-icon {
        flex-direction: column;
    }

    .get-direction {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .get-direction i {
        width: fit-content;
        text-align: center;
    }

    .deals-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .deals-one {
        margin-bottom: 10px;
    }

    .play-icon i {
        display: flex;
        justify-content: center;
    }

    .review {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

    }

    .review img {
        margin: 0;
        padding: 0;

    }

    .review p {
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media only screen and (min-width:993px) {
    .logo {
        margin-right: 30%;
    }

    .buy-now-btn {
        padding: 7px;
    }

    .ingredient {
        margin-top: 70px;
    }

    .ingredient-image {
        height: 100%;
    }

    .menu-right-title {
        text-align: right;
    }


}